table, th, td {
    border: 1px solid;
  }
body {
    background-color: lightgray;
  }
table {
    background-color: white;

}

a:hover {
    color: orange;
}
.nth-child {
    background-color: red;
}
tr :hover {
    background-color:aqua;
}
img:hover {
    width: 500px;
    height:100px;
}
/*img:hover {
    transform: scale(2);
}*/
.linear-gradient {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  @media only screen and (max-width: 600px) {
    body {
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
}
